<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>二维数组的查找.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>二进制中 1 的个数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>倒序遍历链表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>单例 Objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>单例 Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>单例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>反转链表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>在 O(1) 时间删除链表节点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>归并排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>快速排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>数值的整数次方.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>斐波那契数列.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>旋转数组中的最小数字.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>替换字符串中的空格.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>调整数组顺序使奇数位于偶数前面.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>重建二叉树.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>链表倒数第 K 个节点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>054E47861E2B28280041D189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>054E47911E2B71120041D189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0569ABEA1E2DC63900940A37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0569ABF51E2E672D00940A37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>057859A11E2CECAA003D8D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>057859AC1E2CFF45003D8D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>057859B71E2D07D3003D8D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CA8E621E29E160006B6152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CA8E701E29E18B006B6152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CA8E7B1E29E1B5006B6152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CA8E861E29FDB9006B6152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CA8E911E29FF27006B6152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CA8E9C1E2A07AA006B6152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CA8EA71E2A16EE006B6152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05F1B6F11E307160005232CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05F1B7071E30EEDC005232CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05F1B7121E323A6B005232CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05F1B71D1E338507005232CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05FF8AE81E2FAFD40099A2B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
